#{extends 'main.html' /}

<div class="navbar navbar-fixed-top">
  
  <div class="navbar-inner">
    
    <div class="container">
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>        
      </a>
      
      <a class="brand">JAKA Ski Manager</a>
      
      <div class="nav-collapse collapse">
      
        <ul class="nav">
          #{deadbolt.restrict roles:[['admin'],['editor']]}
          <li class="${request.action == 'AdminInstructor.timetable' ? 'active' : ''}">
            <a href="@{AdminInstructor.timetable()}">
              <i class="icon-table"></i>
             &{'timetable'}     
            </a>
          </li>
          #{/deadbolt.restrict}
          #{deadbolt.restrict roles:[['instructor']]}
          <li class="${request.action == 'AdminInstructor.availabilities' ? 'active' : ''}">
            <a href="@{AdminInstructor.availabilities()}">
              <i class="icon-calendar"></i>
              &{'availabilities'} 
            </a>
          </li>
          <li class="${request.action == 'Overview.myLessons' ? 'active' : ''}">
            <a href="@{Overview.myLessons(user.id)}">
              <i class="icon-list"></i>
              &{'myLessons'} 
            </a>
          </li>
          #{/deadbolt.restrict}
          #{deadbolt.restrict roles:[['admin'],['editor']]}          
          <li class="${request.action == 'Students.list' ? 'active' : ''}">
            <a href="@{Students.list()}">
              <i class="icon-user"></i>
              &{'students'}              
            </a>
          </li>
          #{/deadbolt.restrict}
          #{deadbolt.restrict roles:[['admin']]}
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nastavenia <b class="caret"></b></a>      
              <ul class="dropdown-menu">   
                  <li class="${request.action == 'Instructors.list' ? 'active' : ''}">
                    <a href="@{Instructors.list()}">
                      <i class="icon-user"></i>
                      &{'instructors'}              
                    </a>
                  </li>  
                  <li class="${request.action == 'Instructors.overview' ? 'active' : ''}">
                    <a href="@{Instructors.overview()}">
                      <i class="icon-bar-chart"></i>
                      &{'instructorsOverview'}              
                    </a>
                  </li>       
                  <li class="${request.controller == 'Employees' ? 'active' : ''}">
                    <a href="@{Employees.list()}">
                      <i class="icon-user"></i>
                      &{'users'}              
                    </a>
                  </li>
                  <li class="${request.controller == 'Payments' ? 'active' : ''}">
                    <a href="@{Payments.list()}">
                      <i class="icon-credit-card"></i>
                      &{'payments'}              
                    </a>
                  </li>
                  <li class="${request.controller == 'Langs' ? 'active' : ''}">
                    <a href="@{Langs.list()}">
                      <i class="icon-comments-alt"></i>
                      &{'languages'}              
                    </a>
                  </li>
                  <li class="${request.controller == 'Prices' ? 'active' : ''}">
                    <a href="@{Prices.list()}">
                      <i class="icon-credit-card"></i>
                      &{'prices'}              
                    </a>
                  </li>
               #{/deadbolt.restrict}
              </ul> 
          </li>
         </ul>    
      
        <ul class="nav pull-right">
         <!-- <li>
            <a href=""><span class="badge badge-warning">7</span></a>
          </li> -->
          
          <li class="divider-vertical"></li>
          
          <li class="dropdown">
            
            <a data-toggle="dropdown" class="dropdown-toggle " href="#">
              ${user.email}<b class="caret"></b>              
            </a>
            
            <ul class="dropdown-menu">
              <li>
                <a href="@{AdminInstructor.instructor()}"><i class="icon-user"></i>&{'accountSetting'}</a>
              </li>
              
            <!--  <li>
                <a href=""><i class="icon-lock"></i> Change Password</a>
              </li> -->
              
              <li class="divider"></li>
              
              <li>
                <a href="@{Secure.logout()}"><i class="icon-off"></i>&{'content.logout'}</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </div> <!-- /nav-collapse -->
      
    </div> <!-- /container -->
    
  </div> <!-- /navbar-inner -->
  
</div> <!-- /navbar -->




<div id="content">
  
  <div class="container">
    
          #{doLayout /}

  </div> <!-- /container -->
  
</div> <!-- /content -->
          
  
<div id="footer">
  
  <div class="container">       
    <hr>
    <p>© 2013 Jaka Ski</p>
  </div> <!-- /container -->
  
</div> <!-- /footer -->