<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta charset="utf-8">

        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
        <link rel="stylesheet" href="@{'/public/stylesheets/font-awesome.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/adminia.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/adminia-responsive.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/dhtmlxscheduler.css'}" type="text/css" charset="utf-8">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
        #{get 'moreStyles' /}
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>    
        <script src="@{'/public/javascripts/dhtmlxscheduler.js'}" type="text/javascript" charset="utf-8"></script>   
        <script src="@{'/public/javascripts/dhtmlxscheduler_timeline.js'}" type="text/javascript" charset="utf-8"></script> 
    </body>
</html>