<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- twitter bootstrap -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <!-- dhtmlx scheduler -->
        <script src="@{'/public/javascripts/dhtmlxscheduler.js'}" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="@{'/public/stylesheets/dhtmlxscheduler.css'}" type="text/css" charset="utf-8">
        <!-- other -->
        #{get 'moreStyles' /}
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>