/* Ski color */
.dhx_cal_event.ski div,.dhx_cal_event_line.ski {
	background-color: #FF8100 !important;
	color: white !important;
}

/* Snowboard color */
.dhx_cal_event.snowboard div,.dhx_cal_event_line.snowboard {
	background-color: #0081FF !important;
	color: white !important;
}

/* Availability color */
.dhx_cal_event.availability div,.dhx_cal_event_line.availability {
	background-color: #00BD39 !important;
	color: white !important;
}