#{extends 'content.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/dhtmlxscheduler_dhx_terrace.css'}" type="text/css" charset="utf-8">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/dhtmlxscheduler.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_dhx_terrace.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/scheduler-rest-client.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<h1 class="page-title">
  <i class="icon-calendar"></i>
  &{'availabilities'}
</h1>

<div class="widget">
  <div class="widget-content">
    <div id="scheduler_here" class="dhx_cal_container" style='width: 100%; height: 600px'>
      <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
      </div>
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>
    </div>
  </div>

<script type="text/javascript" charset="utf-8">
  // Helper functions
  function loadEvents(date) {
      $.ajax({
          type: "GET",
          url: "/query/availabilities",
          data: "date=" + getShortDate(date)
      }).done(function(data) {
          scheduler.parse(availabilitiesToEvents(data.result), "json");
      });
  }

  // Scheduler configuration
  scheduler.config.api_date="%Y-%m-%d %H:%i";
  scheduler.config.xml_date="%Y-%m-%d %H:%i";
  scheduler.config.first_hour=8;
  scheduler.config.last_hour=19;
  scheduler.init("scheduler_here", null, "day");

  // Data loading
  loadEvents(new Date());

  // Events management
  scheduler.attachEvent("onViewChange", function(mode, date) {
      loadEvents(date);
  });

  scheduler.attachEvent("onEventAdded", function(eventId, eventObject) {
      eventObject.instructor_id = ${instructor.getId()};
      $.ajax({
          type: "POST",
          url: "/availability",
          data: JSON.stringify(eventToAvailability(eventObject, scheduler))
      }).done(function(data) {
          scheduler.changeEventId(eventId, data.uri.replace("/availability/", ""));
      });
  });

  scheduler.attachEvent("onEventChanged", function(eventId, eventObject) {
      $.ajax({
          type: "PUT",
          url: "/availability/" + eventId,
          data: JSON.stringify(eventToAvailability(eventObject, scheduler))
      });
  });

  scheduler.attachEvent("onEventDeleted", function(eventId) {
      $.ajax({
          type: "DELETE",
          url: "/availability/" + eventId
      });
  });
</script>
</div>

<div class="widget widget-table">
                    
          <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>Table</h3>
          </div> <!-- /widget-header -->
          
          <div class="widget-content">
          
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Start time</th>
                  <th>End time</th>
                  <th>Location</th>
                  <th>note</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>           
              <tbody>
              #{list items:availabilities, as:'availability'}
                <tr>
                  <td>${availability.startTime}</td>
                  <td>${availability.endTime}</td>
                  <td>${availability.location}</td>
                  <td>${availability.note}</td>
                  <td class="action-td">
                    <a href="javascript:;" class="btn btn-small btn-warning">
                      <i class="icon-ok"></i>               
                    </a>          
                    <a href="javascript:;" class="btn btn-small">
                      <i class="icon-remove"></i>           
                    </a>
                  </td>
                </tr>               
              #{/list}
              </tbody>
            </table>
          
          </div> <!-- /widget-content -->
          
        </div> <!-- /widget -->