#{extends 'content.html' /}
<h1 class="page-title">
  <i class="icon-th-large"></i>&{'accountSetting'}
</h1>
<div class="row">
  <div class="span9">
    <div class="widget">
      <!-- /widget-header -->
      <div class="widget-content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="${tab1 == 'active' ? 'active' : 'passive'}"><a href="#tab1" data-toggle="tab">&{'instructor.profile'}</a></li> #{deadbolt.restrict
            roles:[['instructor']]}
            <li class="${tab2 == 'active' ? 'active' : 'passive'}"><a href="#tab2" data-toggle="tab">&{'instructor.instructor'}</a></li> #{/deadbolt.restrict}
            <li class="${tab3 == 'active' ? 'active' : 'passive'}"><a href="#tab3" data-toggle="tab">&{'instructor.changePassword'}</a></li>
          </ul>
          <br>
          <div class="tab-content">
            <div class="${tab1 == 'active' ? 'tab-pane active' : 'tab-pane'}" id="tab1">
              #{form @updateUser() , id:'edit-profile', class:'form-horizontal'}
              <fieldset>

                #{field 'user.firstname'}
                <div class="control-group">
                  <label class="control-label" for="firstname">&{'instructor.firstName'}</label>
                  <div class="controls">
                    <input type="text" class="input-medium" id="firstname" name="${field.name}" value="${user.firstname}">
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} #{field 'user.surname'}
                <div class="control-group">
                  <label class="control-label" for="surname">&{'instructor.lastName'}</label>
                  <div class="controls">
                    <input type="text" class="input-medium" id="surname" name="${field.name}" value="${user.surname}">
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} #{field 'user.phone'}
                <div class="control-group">
                  <label class="control-label" for="phone">&{'instructor.phone'}</label>
                  <div class="controls">
                    <input type="text" class="input-large" id="phone" name="${field.name}" value="${user.phone}"> <span class="error">#{error
                      'updatedUser.phone' /}</span>
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} #{field 'user.email'}
                <div class="control-group">
                  <label class="control-label" for="email">&{'instructor.emailAddress'}</label>
                  <div class="controls">
                    <input type="text" class="input-large" id="email" name="${field.name}" value="${user.email}"> <span class="error">#{error
                      'updatedUser.email' /}</span>
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} <br>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">&{'instructor.save'}</button>
                  <button class="btn">&{'instructor.cancel'}</button>
                </div>
                <!-- /form-actions -->
              </fieldset>
              #{/form}
            </div>

            #{deadbolt.restrict roles:[['instructor']]}
            <div class="${tab2 == 'active' ? 'tab-pane active' : 'tab-pane'}" id="tab2">
              #{form @updateInstructor() , id:'edit-profile2', class:'form-horizontal'}
              <fieldset>
                #{field 'instructor.positionSki'}
                <div class="control-group">
                  <label class="control-label" for="positionSki">&{'instructor.positionSki'}</label>
                  <div class="controls">
                   #{select 'instructor.positionSki', value:instructor?.positionSki} 
                       #{option 'none'}neuci#{/option} 
                       #{option 'unlicensed'}nema#{/option} 
                       #{option 'C'}C#{/option}
                       #{option 'B'}B#{/option}
                       #{option 'A'}A#{/option} 
                   #{/select}
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} #{field 'instructor.positionSnowboard'}
                <div class="control-group">
                  <label class="control-label" for="positionSnowboard">&{'instructor.positionSnowboard'}</label>
                  <div class="controls">
                   #{select 'instructor.positionSnowboard', value:instructor?.positionSnowboard} 
                       #{option 'none'}neuci#{/option} 
                       #{option 'unlicensed'}nema#{/option} 
                       #{option 'C'}C#{/option}
                       #{option 'B'}B#{/option}
                       #{option 'A'}A#{/option} 
                   #{/select}
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} #{field 'instructor.languages'}
                <div class="control-group">
                  <label class="control-label" for="languages">&{'instructor.languages'}</label>
                  <div class="controls">
                    <select id="languages" name="instructor.languages.id" value="" size="1" id="select" multiple>
                      #{list languages, as:'lang'} 
 			            <option value="${lang.id}" ${instructor.languages.contains(lang) ? 'selected' : ''} >${lang.name}</option>
	                  #{/list} 
	               </select>
                    <span class="error">#{error 'updatedInstructor.language' /}</span>
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field}
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">&{'instructor.save'}</button>
                  <button class="btn">&{'instructor.cancel'}</button>
                </div>
                <!-- /form-actions -->
              </fieldset>
              #{/form}
            </div>

            #{/deadbolt.restrict}

            <div class="${tab3 == 'active' ? 'tab-pane active' : 'tab-pane'}" id="tab3">
              #{form @updatePassword() , id:'edit-profile3', class:'form-horizontal'}
              <fieldset>
                #{field 'oldPassword'}
                <div class="control-group">
                  <label class="control-label" for="oldPassword">&{'instructor.oldPassword'}</label>
                  <div class="controls">
                    <input type="password" class="input-medium" id="oldPassword" name="${field.name}" value="${oldPassword}"> <span
                      class="error">#{error 'oldPassword' /}</span>
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} #{field 'newPassword'}
                <div class="control-group">
                  <label class="control-label" for="newPassword">&{'instructor.newPassword'}</label>
                  <div class="controls">
                    <input type="password" class="input-medium" id="newPassword" name="${field.name}" value="${newPassword}"> <span
                      class="error">#{error 'updatedUser.password' /}</span>
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field} 
                #{field 'passwordConfirm'}
                <div class="control-group">
                  <label class="control-label" for="passwordConfirm">&{'instructor.confirm'}</label>
                  <div class="controls">
                    <input type="password" class="input-medium" id="passwordConfirm" name="${field.name}" value="${passwordConfirm}"> <span
                      class="error">#{error 'passwordConfirm' /}</span>
                  </div>
                  <!-- /controls -->
                </div>
                <!-- /control-group -->
                #{/field}
                <br>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">&{'instructor.save'}</button>
                  <button class="btn">&{'instructor.cancel'}</button>
                </div>
                <!-- /form-actions -->
              </fieldset>

              #{/form}
            </div>
          </div>
        </div>
      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->
  </div>
  <!-- /span9 -->
</div>
<!-- /row -->
