#{extends 'content.html' /}
<h1 class="page-title">
  <i class="icon-th-large"></i>
	User Account					
</h1>
  <div class="row">			
	 <div class="span9">			
		<div class="widget">
		  <div class="widget-header">
		    <h3>Basic Information</h3>
		  </div> <!-- /widget-header -->		
		  <div class="widget-content">					
			<div class="tabbable">
			   <ul class="nav nav-tabs">
				<li class="active"><a href="http://wbpreview.com/previews/WB00U8L84/account.html#1" data-toggle="tab">Profile</a></li>
				<li><a href="http://wbpreview.com/previews/WB00U8L84/account.html#2" data-toggle="tab">Settings</a></li>
			   </ul>
				<br>					
							<div class="tab-content">
								<div class="tab-pane active" id="1">
                                #{form @update() , id:'edit-profile', class:'form-horizontal'} 
									<fieldset>														
										    #{ifErrors}
                                          <p class="error">
                                            Please correct these errors.
                                           </p>
                                            #{/ifErrors}
					                    
                                        #{field 'instructor.firstname'}					
                                        <div class="control-group">		                                     									
											<label class="control-label" for="firstname">First Name</label>
											<div class="controls">
												<input type="text" class="input-medium" id="firstname" name="${field.name}" value="${instructor.firstname}">
											</div> <!-- /controls --> 				
										</div> <!-- /control-group -->
                                        #{/field}
                    
										#{field 'instructor.surname'}
										<div class="control-group">	     										
											<label class="control-label" for="surname">Last Name</label>
											<div class="controls">
												<input type="text" class="input-medium" id="surname" name="${field.name}" value="${instructor.surname}">
											</div> <!-- /controls -->
										</div> <!-- /control-group -->	
										 #{/field}
                     
                                         #{field 'instructor.phone'}                    
                                        <div class="control-group">
                                            <label class="control-label" for="phone">Phone</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" id="phone" name="${field.name}" value="${instructor.phone}">
                                                <span class="error">#{error 'newInstructor.phone' /}</span>
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        #{/field}    
                                         #{field 'instructor.email'}										
										<div class="control-group">
											<label class="control-label" for="email">Email Address</label>
											<div class="controls">
												<input type="text" class="input-large" id="email" name="${field.name}" value="${instructor.email}">
                                                <span class="error">#{error 'newInstructor.email' /}</span>
											</div> <!-- /controls -->
										</div> <!-- /control-group -->
                                        #{/field}				
										
										<br><br>
										#{field 'oldPassword'}
										<div class="control-group">											
											<label class="control-label" for="oldPassword">Old Password</label>
											<div class="controls">
												<input type="password" class="input-medium" id="oldPassword" name="${field.name}" value="${oldPassword}">
                                                <span class="error">#{error 'oldPassword' /}</span>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										#{/field}
                                        #{field 'newPassword'}										
										<div class="control-group">
											<label class="control-label" for="newPassword">New Password</label>
											<div class="controls">
												<input type="password" class="input-large" id="newPassword" name="${field.name}" value="${newPassword}">
                                                <span class="error">#{error 'newInstructor.password' /}</span>
											</div> <!-- /controls -->
										</div> <!-- /control-group -->
                                        #{/field}
                                        #{field 'passwordConfirm'}
                                        <div class="control-group">                     
                                            <label class="control-label" for="passwordConfirm">Confirm</label>
                                            <div class="controls">
                                                <input type="password" class="input-medium" id="passwordConfirm" name="${field.name}" value="${passwordConfirm}">
                                                <span class="error">#{error 'passwordConfirm' /}</span>
                                            </div> <!-- /controls -->       
                                        </div> <!-- /control-group -->
                                        #{/field}	
											<br>
											
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">Save</button> 
											<button class="btn">Cancel</button>
										</div> <!-- /form-actions -->
									</fieldset>
                                #{/form}
								</div>
								
								<div class="tab-pane" id="2">
									<form id="edit-profile2" class="form-horizontal">
										<fieldset>
											
											
											<div class="control-group">
												<label class="control-label" for="accounttype">Account Type</label>
												<div class="controls">
													<label class="radio">
														<input type="radio" name="accounttype" value="option1" checked="checked" id="accounttype">
														POP3
													</label>
													<label class="radio">
														<input type="radio" name="accounttype" value="option2">
														IMAP
													</label>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="accountusername">Account Username</label>
												<div class="controls">
													<input type="text" class="input-large" id="accountusername" value="rod.howard@example.com">
													<p class="help-block">Leave blank to use your profile email address.</p>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="emailserver">Email Server</label>
												<div class="controls">
													<input type="text" class="input-large" id="emailserver" value="mail.example.com">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="accountpassword">Password</label>
												<div class="controls">
													<input type="text" class="input-large" id="accountpassword" value="password">
												</div>
											</div>
	
											<div class="control-group">
												<label class="control-label" for="accountadvanced">Advanced Settings</label>
												<div class="controls">
													<label class="checkbox">
														<input type="checkbox" name="accountadvanced" value="option1" checked="checked" id="accountadvanced">
														User encrypted connection when accessing this server
													</label>
													<label class="checkbox">
														<input type="checkbox" name="accounttype" value="option2">
														Download all message on connection
													</label>
												</div>
											</div>

											
											<br>
											
											<div class="form-actions">
												<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
											</div>
										</fieldset>
									</form>
								</div>				
							</div>
						</div>
	                </div> <!-- /widget-content -->	
            </div> <!-- /widget -->
      </div> <!-- /span9 -->
</div> <!-- /row -->		