#{extends 'content.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/dhtmlxscheduler_dhx_terrace.css'}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="@{'/public/stylesheets/scheduler-custom.css'}" type="text/css" charset="utf-8">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/dhtmlxscheduler.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_timeline.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_treetimeline.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_dhx_terrace.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/scheduler-rest-client.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/bootstrap-modal.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/bootstrap-button.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/bootstrap-typeahead.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<h1 class="page-title">
  <i class="icon-calendar"></i>
  &{'timetable'}
</h1>

<form class="form-search">
  <input type="text" class="input-medium search-query" id="instructorSearch">
  <a href="#" class="btn" onclick="addInstructor()">&{'timetable.addInstructor'}</a>
</form>

<div class="control-group">
  <label class="control-label" for="selectLocation">&{'timetable.location'}</label>
  <div class="controls">
    <select id="selectLocation" onchange="loadData(scheduler.getState().date, this.value)">
      #{list locations, as:'location'}
      <option value="${location.id}">${location.name}</option>
      #{/list}
      <option value="null">&{'timetable.location.all'}</option>
    </select>
  </div>
</div>

<div class="widget">
  <div class="widget-content">
    <div id="scheduler_here" class="dhx_cal_container" style='width: 100%; height: 600px'>
      <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="timeline_tab">Timeline</div>
      </div>
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>
    </div>
  </div>

<div id="schedulerModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeForm()">&times;</button>
    <h3 id="modalHeader">&{'timetable.eventDetails'}</h3>
  </div>
  <div class="modal-body" style="min-height: 150px">
    <form class="form-horizontal">
      <!-- Student -->
      <div class="control-group">
        <div class="alert alert-info">
          <strong>&{'timetable.newUser'}</strong> &{'timetable.successfullyCreated'}.
        </div>
        <label class="control-label" for="modalStudent">&{'timetable.studentName'}</label>
        <div class="controls">
          <input id="modalStudent" type="text" placeholder="" required>
          <button id="modalCreateStudent" type="button" class="btn" data-loading-text="Creating..." onclick="createStudent()">&{'timetable.createNew'}</button>
        </div>
      </div>
      <!-- Note -->
      <div class="control-group">
        <label class="control-label" for="modalText">&{'timetable.note'}</label>
        <div class="controls">
          <input id="modalText" type="text">
        </div>
      </div>
      <!-- Location -->
      <div class="control-group">
        <label class="control-label" for="modalLocation">&{'timetable.location'}</label>
        <div class="controls">
          <select id="modalLocation">
            #{list locations, as:'location'}
              <option value="${location.name}">${location.name}</option>
            #{/list}
          </select>
        </div>
      </div>
      <!-- Language -->
      <div class="control-group">
        <label class="control-label" for="modalLanguage">&{'timetable.language'}</label>
        <div class="controls">
          <select id="modalLanguage">
          </select>
        </div>
      </div>
      <!-- Count -->
      <div class="control-group">
        <label class="control-label" for="modalCount">&{'timetable.count'}</label>
        <div class="controls">
          <input id="modalCount" class="span1" type="number" min="1" required>
        </div>
      </div>
      <!-- Snowboard -->
      <div class="control-group">
        <label class="control-label" for="modalSki">&{'timetable.type'}</label>
        <div class="controls">
          <label class="radio inline">
            <input id="modalSki" type="radio" name="snowboardRadios" value="false">
            &{'timetable.ski'}
          </label>
          <label class="radio inline">
            <input id="modalSnowboard" type="radio" name="snowboardRadios" value="true">
            &{'timetable.snowboard'}
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="deleteForm()">&{'timetable.delete'}</a>
    <a href="#" class="btn" onclick="closeForm()">&{'timetable.close'}</a>
    <a href="#" class="btn btn-primary" data-loading-text="Creating..." onclick="saveForm()">&{'timetable.saveChanges'}</a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  // Global variables
  var LIGHTBOX_ID = null;
  var STUDENTS_CACHE = null;
  var SELECTED_STUDENT = null;
  var INSTRUCTORS_CACHE = null;
  var SELECTED_INSTRUCTOR = null;

  // Helper functions
  function isNewEvent(scheduler) {
      return scheduler._new_event != null;
  }

  function loadData(date, location) {
      scheduler.clearAll();
      loadSections(date, location, scheduler);
      loadLessons(date, location, scheduler);
      loadAvailabilities(date, location, scheduler);
  }

  function hideForm() {
      LIGHTBOX_ID = null;
      STUDENTS_CACHE = null;
      SELECTED_STUDENT = null;
      scheduler._new_event = null;
      $("#schedulerModal").modal("hide");
      $(".alert").hide();
  }

  function deleteForm() {
      scheduler.deleteEvent(LIGHTBOX_ID);
      hideForm();
  }

  function closeForm() {
      if (isNewEvent(scheduler)) {
          scheduler.deleteEvent(LIGHTBOX_ID); // TODO triggers unnecessary onEventDeleted
      }
      hideForm();
  }

  function saveForm() {
      var event = scheduler.getEvent(LIGHTBOX_ID);
      event.student_id = SELECTED_STUDENT;
      event.text = $("#modalText").val();
      // TODO location is sent by name, not id
      event.location = $("#modalLocation").val();
      event.language = $("#modalLanguage").val();
      event.count = $("#modalCount").val();
      event.snowboard = $("#modalSnowboard").prop("checked");
      if (event.count > 3) {
          event.type = "group";
      } else {
          event.type = "individual";
      }
      event.student_name = $("#modalStudent").val();

      scheduler.updateView();
      if (isNewEvent(scheduler)) {
          scheduler.callEvent("onEventAdded", [LIGHTBOX_ID, event]);
      } else {
          scheduler.callEvent("onEventChanged", [LIGHTBOX_ID, event]);
      }
      hideForm();
  }

  function initForm(id) {
      var event = scheduler.getEvent(id);
      LIGHTBOX_ID = id;
      SELECTED_STUDENT = event.student_id;
      // js wtf workaround
      event.snowboard = event.snowboard || null;

      // Fill form with event values
      if (SELECTED_STUDENT != null) {
          $.ajax({
              type: "GET",
              url: "/student/" + SELECTED_STUDENT
          }).done(function(data) {
              $("#modalStudent").val(data.student.name);
          });
      } else {
          $("#modalStudent").val("");
      }
      if (isNewEvent(scheduler)) {
          event.text = "";
      }

      $("#modalText").val(event.text);
      createLocationSelect();
      $("#modalLocation").val(event.location);
      createInstructorSelect(event);
      $("#modalLanguage").val(event.language);
      $("#modalCount").val(event.count || "1");

      $("#modalHeader").html(getShortTime(event.start_date, event.end_date));
      $("#schedulerModal").modal("show");
  }

  function createStudent() {
      $("#modalCreateStudent").button("loading");
      $(".btn-primary").button("loading");

      $.ajax({
          type: "POST",
          url: "/student",
          data: JSON.stringify({"student": {"name": $("#modalStudent").val()}})
      }).done(function(data) {
          SELECTED_STUDENT = data.uri.replace("/student/", "");
          $("#modalCreateStudent").button("reset");
          $(".btn-primary").button("reset");
          $(".alert").show();
      });
  }

  function addInstructor() {
      if (SELECTED_INSTRUCTOR == null) {
          return;
      }

      if (scheduler.getSection(SELECTED_INSTRUCTOR.key) == null) {
          scheduler.addSection(SELECTED_INSTRUCTOR, null);
      }
      SELECTED_INSTRUCTOR = null;
      $("#instructorSearch").val("");
  }

  // Create select element for selected location
  function createLocationSelect() {
      if ($("#selectLocation").val() == "null") {
          $("#modalLocation").html("");
          $.each($("#selectLocation").find("option"), function(i, location) {
              if (location.getAttribute("value") != "null") {
                  $("#modalLocation").append("<option value=\"" + location.innerHTML + "\">" + location.innerHTML + "</option>");
              }
          });
      } else {
          var location = $("#selectLocation").find("option:selected").text();
          $("#modalLocation").html("<option value=\"" + location + "\">" + location + "</option>");
      }
  }

  // Create select element for instructors languages and ski/snowboard qualification
  function createInstructorSelect(event) {
      $.ajax({
          type: "GET",
          url: "/instructor/" + event.instructor_id
      }).done(function(data) {
                  // update language select according to selected instructor
                  $("#modalLanguage").html("");
                  $.each(data.instructor.languages, function(i, lang) {
                      $("#modalLanguage").append("<option value=\"" + lang + "\">" + lang + "</option>");
                  });
                  // update ski/snowboard qualification according to selected instructor
                  if (event.snowboard == null) {
                      $("#modalSnowboard").prop("disabled", !data.instructor.snowboard).prop("checked", data.instructor.snowboard);
                      $("#modalSki").prop("disabled", !data.instructor.ski).prop("checked", data.instructor.ski);
                  } else {
                      $("#modalSnowboard").prop("disabled", !data.instructor.snowboard).prop("checked", data.instructor.snowboard && event.snowboard);
                      $("#modalSki").prop("disabled", !data.instructor.ski).prop("checked", data.instructor.ski && !event.snowboard);
                  }
              });
  }

  // Autocomplete
  $("#modalStudent").typeahead({
      items: 5,
      minLength: 1,
      source: function(query, process) {
          if (STUDENTS_CACHE == null) {
              $.ajax({
                  type: "GET",
                  url: "/students"
              }).done(function(data) {
                  STUDENTS_CACHE = studentsToMap(data.result);
                  process(STUDENTS_CACHE.names);
              });
          } else {
              process(STUDENTS_CACHE.names);
          }
      },
      updater: function(item) {
          SELECTED_STUDENT = STUDENTS_CACHE.map[item].id;
          return item;
      }
  });

  $("#instructorSearch").typeahead({
      items: 5,
      minLength: 2,
      source: function(query, process) {
          if (INSTRUCTORS_CACHE == null) {
              $.ajax({
                  type: "GET",
                  url: "/instructors"
              }).done(function(data) {
                  INSTRUCTORS_CACHE = instructorsToMap(data.result);
                  process(INSTRUCTORS_CACHE.names);
              });
          } else {
              process(INSTRUCTORS_CACHE.names);
          }
      },
      updater: function(item) {
          SELECTED_INSTRUCTOR = INSTRUCTORS_CACHE.map[item];
          return item;
      }
  });

  // Modal form alert
  $(".alert").hide();

  // Scheduler templates
  scheduler.templates.event_class = function(start, end, event) {
      if (event.type == "availability") {
	      return event.type;
	  }else{ 
          if (event.snowboard){
		      return "snowboard";
	      }else{
	          return "ski";
	       } 
	  }
      return "";
  };
  
  scheduler.templates.event_bar_text = function(start, end, event) {
	  if (event.type == "availability") {
	      return "";
	  }    
      return event.student_name;
  };

  // Timeline configuration
  scheduler.createTimelineView({
    name: "timeline",
    render: "tree",
    x_unit: "minute",
    x_date: "%H:%i",
    x_step: 60,
    x_start: 8,
    x_size: 13,
    x_length: 24,
    y_property: "instructor_id",
    y_unit: []
  });

  // Scheduler configuration
  scheduler.showLightbox = initForm;
  scheduler.config.api_date="%Y-%m-%d %H:%i";
  scheduler.config.xml_date="%Y-%m-%d %H:%i";

  // Initialize scheduler
  scheduler.init("scheduler_here", null, "timeline");
  loadData(new Date(), $("#selectLocation").val());

  // Set readonly events
  function readonlyCheck(id, mode, object) {
      if (mode == "create") {
          return true;
      } else {
          // availabilities are read only
          return !(scheduler.getEvent(id).type == "availability");
      }
  }
  scheduler.attachEvent("onClick", readonlyCheck);
  scheduler.attachEvent("onDblClick", readonlyCheck);
  scheduler.attachEvent("onBeforeDrag", readonlyCheck);

  // Events management
  scheduler.attachEvent("onViewChange", function(mode, date) {
      loadData(date, $("#selectLocation").val());
  });

  scheduler.attachEvent("onEventAdded", function(eventId, eventObject) {
      $.ajax({
          type: "POST",
          url: "/lesson",
          data: JSON.stringify(eventToLesson(eventObject, scheduler))
      }).done(function(data) {
          scheduler.changeEventId(eventId, data.uri.replace("/lesson/", ""));
      });
  });

  scheduler.attachEvent("onEventChanged", function(eventId, eventObject) {
      $.ajax({
          type: "PUT",
          url: "/lesson/" + eventId,
          data: JSON.stringify(eventToLesson(eventObject, scheduler))
      });
  });

  scheduler.attachEvent("onEventDeleted", function(eventId) {
      $.ajax({
          type: "DELETE",
          url: "/lesson/" + eventId
      });
  });
</script>
</div>