#{extends 'content.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/dhtmlxscheduler_dhx_terrace.css'}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="@{'/public/stylesheets/scheduler-custom.css'}" type="text/css" charset="utf-8">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/dhtmlxscheduler.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_timeline.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_treetimeline.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_dhx_terrace.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/scheduler-rest-client.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/bootstrap-modal.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/bootstrap-typeahead.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<h1 class="page-title">
  <i class="icon-calendar"></i>
  &{'timetable'}
</h1>

<div class="widget">
  <div class="widget-content">
    <div id="scheduler_here" class="dhx_cal_container" style='width: 100%; height: 600px'>
      <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="timeline_tab">Timeline</div>
      </div>
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>
    </div>
  </div>

<div id="schedulerModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Event Details</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <label>Student name</label>
        <input id="modalStudent" type="text" placeholder="Type something…">
        <label>Optional Note</label>
        <input id="modalText" type="text">
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="deleteForm()">Delete</a>
    <a href="#" class="btn" onclick="closeForm()">Close</a>
    <a href="#" class="btn btn-primary" onclick="saveForm()">Save changes</a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  // Helper functions
  function loadData(date) {
      loadSections(date, scheduler);
      loadLessons(date, scheduler);
      loadAvailabilities(date, scheduler);
  }

  function openForm() {
      $("#schedulerModal").modal("show");
  }

  function closeForm() {
      $("#schedulerModal").modal("hide");
  }

  function saveForm() {
      var event = scheduler.getEvent(lightboxID);
      event.text = html("modalText").value;

      closeForm();
      scheduler.updateView();
      if (scheduler._new_event == null) { // it's not a new event
          scheduler.callEvent("onEventChanged", [lightboxID, event]);
      } else {                            // it is a new event
          scheduler.callEvent("onEventAdded", [lightboxID, event]);
      }
  }

  function deleteForm() {
      closeForm();
      scheduler.deleteEvent(lightboxID);
  }

  // Student autocomplete
  var limit = 10;
  $("#modalStudent").typeahead({
      items: limit,
      minLength: 2,
      source: function(query, process) {
          $.ajax({
              type: "GET",
              url: "/query/students",
              data: "name=" + query + "&limit=" + limit
          }).done(function(data) {
              if (data == null) {
                  process(["Couldn't load data..."]);
              } else {
                  process(studentsToList(data.result));
              }
          });
      }
  });

  // Scheduler templates
  scheduler.templates.event_class=function(start, end, event) {
      return event.type || "";
  }

  // Timeline configuration
  scheduler.createTimelineView({
    name: "timeline",
    render: "tree",
    x_unit: "minute",
    x_date: "%H:%i",
    x_step: 60,
    x_start: 8,
    x_size: 11,
    x_length: 24,
    y_property: "instructor_id",
    y_unit: []
  });

  // Scheduler configuration
  var lightboxID = null;
  scheduler.showLightbox = function(id) {
      lightboxID = id;
      var event = scheduler.getEvent(lightboxID);
      html("modalText").value = event.text || "";
      openForm();
  };
  scheduler.config.api_date="%Y-%m-%d %H:%i";
  scheduler.config.xml_date="%Y-%m-%d %H:%i";

  // Initialize scheduler
  scheduler.init("scheduler_here", null, "timeline");
  loadData(new Date());

  // Events management
  scheduler.attachEvent("onViewChange", function(mode, date) {
      loadData(date);
  });

  scheduler.attachEvent("onEventAdded", function(eventId, eventObject) {
      $.ajax({
          type: "POST",
          url: "/lesson",
          data: JSON.stringify(eventToLesson(eventObject, scheduler))
      }).done(function(data) {
          scheduler.changeEventId(eventId, data.uri.replace("/lesson/", ""));
      });
  });

  scheduler.attachEvent("onEventChanged", function(eventId, eventObject) {
      $.ajax({
          type: "PUT",
          url: "/lesson/" + eventId,
          data: JSON.stringify(eventToLesson(eventObject, scheduler))
      });
  });

  scheduler.attachEvent("onEventDeleted", function(eventId) {
      $.ajax({
          type: "DELETE",
          url: "/lesson/" + eventId
      });
  });
</script>
</div>