#{extends 'content.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/dhtmlxscheduler_dhx_terrace.css'}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="@{'/public/stylesheets/scheduler-custom.css'}" type="text/css" charset="utf-8">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/dhtmlxscheduler.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_timeline.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_treetimeline.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/dhtmlxscheduler_dhx_terrace.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/scheduler-rest-client.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<h1 class="page-title">
  <i class="icon-calendar"></i>
  &{'timetable'}
</h1>

<div class="widget">
  <div class="widget-content">
    <div id="scheduler_here" class="dhx_cal_container" style='width: 100%; height: 600px'>
      <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="timeline_tab">Timeline</div>
      </div>
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>
    </div>
  </div>

<script type="text/javascript" charset="utf-8">
  // Helper functions
  function loadLessons(date) {
      $.ajax({
          type: "GET",
          url: "/query/lessons",
          data: "date=" + getShortDate(date)
      }).done(function(data) {
          scheduler.parse(lessonsToEvents(data.result), "json");
      });
  }

  function loadAvailabilities(date) {
      $.ajax({
          type: "GET",
          url: "/query/availabilities",
          data: "date=" + getShortDate(date)
      }).done(function(data) {
          scheduler.parse(availabilitiesToEvents(data.result), "json");
      });
  }

  function loadSections(date) {
      $.ajax({
          type: "GET",
          url: "/query/instructors",
          data: "date=" + getShortDate(date)
      }).done(function(data) {
          $.each(instructorsToSections(data.result), function(index, value) {
              if (scheduler.getSection(value.key) == null) {
                  scheduler.addSection(value, null);
              }
          });
      });
  }

  function loadData(date) {
      loadSections(date);
      loadLessons(date);
      loadAvailabilities(date);
  }

  // Timeline configuration
  scheduler.createTimelineView({
    name: "timeline",
    render: "tree",
    x_unit: "minute",
    x_date: "%H:%i",
    x_step: 60,
    x_start: 8,
    x_size: 11,
    x_length: 24,
    y_property: "instructor_id",
    y_unit: []
  });

  scheduler.templates.event_class=function(start, end, event) {
      if (event.type != null) {
          return event.type;
      } else {
          return "";
      }
  }

  // Scheduler configuration
  scheduler.config.api_date="%Y-%m-%d %H:%i";
  scheduler.config.xml_date="%Y-%m-%d %H:%i";
  scheduler.init("scheduler_here", null, "timeline");

  // Data loading
  loadData(new Date());

  // Events management
  scheduler.attachEvent("onViewChange", function(mode, date) {
      loadData(date);
  });

  scheduler.attachEvent("onEventAdded", function(eventId, eventObject) {
      $.ajax({
          type: "POST",
          url: "/lesson",
          data: JSON.stringify(eventToLesson(eventObject, scheduler))
      }).done(function(data) {
          scheduler.changeEventId(eventId, data.uri.replace("/lesson/", ""));
      });
  });

  scheduler.attachEvent("onEventChanged", function(eventId, eventObject) {
      $.ajax({
          type: "PUT",
          url: "/lesson/" + eventId,
          data: JSON.stringify(eventToLesson(eventObject, scheduler))
      });
  });

  scheduler.attachEvent("onEventDeleted", function(eventId) {
      $.ajax({
          type: "DELETE",
          url: "/lesson/" + eventId
      });
  });
</script>
</div>